.site-main__headline {
    font-size: 4.5vw;
    font-weight: 600;
    margin-bottom: 1px;
}

.division-form {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: 42.5% 42.5% 15%;
    justify-content: start;
}

.form-division__input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.division-form__label {
    font-size: 3.5vw;
    display: block;
}

.division-form__dividend-input, .division-form__divider-input {
    display: block;
    margin-top: 6px;
    width: 95%;
}

.division-form__btn--blue {
    padding: 9px 0;
    font-size: 13px;
    border-radius: 4px;
}

@media only screen and (min-width: 350px) {
    .site-main__headline {
        font-size: 3.7vw;
        margin-bottom: 6px;
    }

    .division-form__label {
        font-size: 3.2vw;
    }
} 

@media only screen and (min-width: 500px) {
    .site-main__headline {
        font-size: 17.982px;
    }

    .division-form__label {
        font-size: 15.552px;
    }
}

@media only screen and (max-width: 700px) {
    .division-form {
        grid-template-columns: 100%;
        grid-template-rows: 59px;
    }

    .form-division__input-container:nth-child(2) {
        margin-top: 6px;
    }

    .division-form__dividend-input, .division-form__divider-input {
        width: 100%;
    }

    .division-form__btn--blue {
        margin-top: 10px;
        padding: 5px 0;
    }
}
