* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fffffe;
}

p {
    color: #94a1b2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    outline: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="button"] {
    background-color: #7f5af0;
    color: #fffffe;
}

body {
    background-color: #16161a;
}

.site-header {
    display: -webkit-flex;
    -ms-flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 51px;
    background-color: #16161a;
    box-shadow: 0 0 3px 0px #7f5af0;
}

.site-header__hamburger {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -ms-flex-direction: column;
    justify-content: center;    
    align-items: center;
    height: 41px;
    width: 41px;
    margin-left: 7px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #16161a;
    transition: background .3s ease-in-out;
}

.hamburger__layer {
    background-color: #fff;
    height: 3px;
    width: 23px;
}

.hamburger__layer:nth-child(2) {
    margin: 4px 0;
}

.site-header__title {
    padding-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    display: inline-block;
}

.site-header__title:hover {
    cursor: pointer;
    transform: rotate(-2deg);
}

.site-header__title:hover::before {
    bottom: 1px;
    background-color: #7f5af0;
    width: 45px;
    height: 2px;
    transition: background 0.3s ease-in-out;
    position: absolute;
    content: "";
}

.site-flexbox {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-template-columns: 170px auto;
}

.site-flexbox__nav {
    display: none;
    position: fixed;
    background-color: #16161a;
    min-width: 190px;
    max-width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
}

.site-nav__href {
    padding: 9px 0;
    margin-right: 2px;
}

.site-nav__href:hover {
    background-color: #7f5af0;
    cursor: pointer;
}

.site-nav__icon {
    color: red;
    margin: 0 20px;
}

.site-nav__label {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: 600;
    color: #fffffe;
    text-decoration: none;
}

.page-view {
    width: 100%;
    background-color: #fffffe;
}

@media only screen and (min-width: 600px) {
    .page-view {
        width: 88%;
        margin: 0 auto;
        padding: 0px 0px;
    }
}

@media only screen and (min-width: 900px) {
    .page-view {
        width: 78%;
        margin: 0 auto;
        padding: 0px 0px;
    }
}
