* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #7c7cf0, #6a6af8);
    background-repeat: repeat;
    background-size: cover;
}

.site-header {
    height: 60px;
    background-color: #222;
    position: relative;
    text-align: center;
}

.site-header__title {
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    padding-top: 9px;
    display: inline-block;
}

.site-header__title:hover {
    cursor: pointer;
    transform: rotate(-2deg);
}

.site-header__title:hover::before {
    bottom: 3px;
    background-color: transparent;
    transition: background .3s ease-in-out;
}

.site-header__title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 75px;
    background-color: #ff2f2f;
    bottom: 17px;
}

.site-nav {
    height: 30px;
    background: linear-gradient(45deg, #ff2f2f, #df4545);
}

.site-nav:hover {
    background: linear-gradient(45deg, #df4545, #ff2f2f);
}

.page-view {
    height: 100px;
    width: 100%;
    background-color: transparent;
    padding: 0px 15px;
}

@media only screen and (min-width: 600px) {
    .page-view {
        width: 88%;
        margin: 0 auto;
        padding: 0px 0px;
    }
}

@media only screen and (min-width: 900px) {
    .page-view {
        width: 78%;
        margin: 0 auto;
        padding: 0px 0px;
    }
}